body {
    background: white
}

header {
    text-align: center;
    font-family: 'EB Garamond', serif;
}

h1 {
    font-size: 100px;
    margin-left: 20px;
    margin-top: 30px;
    font-weight: bold;
    font-family: 'EB Garamond', serif;
    color: black;
}

h3 {
    text-align: center;
    font-size: 40px;
    word-spacing: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom:50px;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    color:lavender;
}

ul {
    text-align: center;
    font-size: 40px;
    padding-left: 50px;
    padding-right: 50px;
    word-spacing: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
}

li {
    display: inline-block;
    margin: 10px;
}

p {
    text-align: right;
    line-height: 1.6;
    font-size: 20px;
    word-spacing: normal;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom:50px;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

a { color:black } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:lavender; }
a:focus { text-decoration: none; color:plum; }
a:hover, a:active { text-decoration: none; color:plum
