body {
    background: url(https://drive.google.com/open?id=0B259NUPFFbRdNDlLSmlZSDZOM21iLV9fRUZZUGdqLWQ0alZn)
}

header {
    text-align: center;
    font-family: 'EB Garamond', serif;
}

h1 {
    font-size: 100px;
    margin-left: 20px;
    margin-top: 30px;
    font-weight: bold;
    font-family: 'EB Garamond', serif;
    color: black;
}

ul {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
    display: inline-block;
    margin: 10px;
}

a { color:black } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:yellowgreen; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:black 

p {
    line-height: 1.6;
    font-size: 20px;
    margin-top: 50px;
}